{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/saloni-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Writer</h1>
            <span class="subheading">Aditi Tiwari</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>About Me</h2>
        <p>It's my pleasure to introduce my self..well, I'm Aditi Tiwari born and raised in Delhi. I have done my schooling in R.J.S.K.V English Medium High School with 94%,then i did my 12th  from N.R.P.S with 92% and now i'm pursuing my second year of B.tech from ABES Institute of Technology . My strengths are my attitude that i like to take challenges that I CAN DO IT!,my way of thinking that i take both success and failure in a balanced manner.. I dont like to say weakness but i like to say scope for improvement that is i wont leave any ask in completely, I believe in my self and my hard work and i want perfection in every thing. My short term goal is i want a such a platform where i can grow my career . My Long term goal is i want to be one of the reason for the success of the organisation and i want to see my self as a bench mark to other organisations. My ethic is "I never neglect an opportunity for my improvement".</p>
        <h2>Love Poetry</h2>
        <p>I love to write poetry; this is my means of self-expression. I live deeply within my head & once my creativity peaks, I write many varied words & sentences. It seems I enter into a trance-like state. And, as a result, I put those words together and it turns into a poem.Writing is my gift. The gift I received from the Divine Mother & Father. they encouraged me to keep going. </p>

        
      </div>
    </div>
  </div>

{% endblock %}